DOC_SERVER=URL de documenso
DOC_CREATE=Segunda parte del endpoint de create
DOC_RECIPIENT=Segunda parte del endpoint de recipient
DOC_FIELD=Segunda parte del endpoint de creación del campo de firma
DOC_DISTRIBUTE=Segunda parte del endpoint de la subida del documento a Documenso una vez está listo para firmar